
<table>
    <tr>
        <th> Id  </th>
        <th> Name </th>
    </tr>
    {% for l in list %}
        <tr>
            <td> {{ l.id }} </td>
            <td> {{ l.name }} </td>

        </tr>
    {% endfor %}
</table>
